html{
    height: 100%;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color:black;
}

a{
    text-decoration: none;
    color:black;
}

body {
    height: 100%;
    display:flex;
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: .2rem solid black;
    padding: 1rem;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mapa{
    background-image: url(../img/mapa.png); 
    background-repeat:no-repeat;
    background-position: center;
}

.seta_direita{
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top:50%;
    left:0;
}

.meia_seta_direita{
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top:50%;
    left:0;
}

.seta_esquerda{
    position: fixed;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    margin:0.2rem;
}

.seta_voltar{
    position: absolute;
    top:0;
    left:0;
    height: 3rem;
    width: 3rem;
    margin: 0.1rem;
}

.seta_ir{
    align-self: flex-end;
    left: 17rem;
    height: 3rem;
    width: 3rem;
}

.img_mapa{
    width:100%;
    height:92%;
}

.botao_estacao{
    position: absolute;
    color:white;
    background-color: black;
    font-size: 150%;
    padding: 1rem;
    border-radius: 2rem;
    bottom:0;
    align-self: center;
    width:100%;
}

.pop_up{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    border-width: 0.1rem;
    border-style: solid;
    border-color: black;
    padding: 1rem;
    border-radius: 1rem;
}

.botao_pop_up{
    font-size: 180%;
    margin: 1rem;
    border-radius: 1rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: black;
}

.x{
    align-self: flex-end;
    font-size: 150%;
    border-width: 0.1rem;
    border-style: solid;
    border-color: black;
    border-radius: 1rem;
}

main.itens{
    justify-content: flex-start;
}

.icone{
    width: 2.5rem;
    height: 2.5rem;
    margin:0.1rem;
}

.voltar{
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    margin:0.1rem;
    left: 0;
    top:0;
}

div.favoritos, div.historico{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
    margin-top: 2rem;
    margin: 1rem;
}

h4{
    font-size: 160%;
}

.lista_enderecos{
    margin-left: 5rem;
}

li{
    font-size: 120%;
    padding: 0.3rem;
}

#pesquisa_endereco{
    width: 80%;
}

h3{
    font-size: 200%;

}

p{
    font-size: 100%;
}

h1{
    font-size: 230%;
    margin: 0.3rem;
}

h2{
    font-size: 180%;
    margin: 0.3rem;
}

.header_titulo_back{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titulo{
    align-self: center;
    justify-self: center;
}

h1.titulo{
    left:50%;
    right: 50%;
}

a.opcoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 0.1rem solid black;
    border-radius: 1rem;
    margin: 1rem 0;
}

.detalhes{
    display: flex;
    flex-direction: column;
}
.lista{
    justify-content: flex-start;
    padding: 1rem;
    border: 1rem;
}

.icone_grande{
     width: 9rem;
     height: 9rem;
}

div.caixa_pesquisa{
    display: flex;
    height: 2.5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.infos_gerais_foto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.infos_gerais{
    display: flex;
    flex-direction: column;
}

.posto_recarga{
    justify-content: space-between;
    padding: 0.5rem;
}

h5.checks{
    justify-self: center;
}

.check{
    border: 0.1rem solid black;
    border-radius: 1rem;
}

.lista_check{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    
}

h5{
    font-size: 120%;
    padding: 0.5rem;
}

.caracteristicas{
    padding: 0.5rem;
}

.waze_gmaps{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.botao_saida{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 0.3rem;
}

.mapa_insper_pao{
    width: 100%;
    height: 30%;
}

.sos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mecanico{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    border: 0.2rem solid black;
}

.foto_mec{
    width: 5.5em;
    height: 5.5rem;
}

.texto_ligar{
    font-size: 130%;
    align-self: center;
    margin-left: 1rem;
}

.botao_ligar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    padding: 0.8rem;
    border: 0.2rem solid black;
    border-radius:1rem;
}

.titulo_tesla{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.main_problemas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.icone_tesla{
    width: 5rem;
    height: 5rem;
}

.problemas{
    padding: 2rem;
    border-top: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
    flex-grow: 1;
}

.lista_ol{
    margin-left: 1rem;
    padding: 0.3rem;
    flex-grow: 1;
}

.pedir_sos{
    display: flex;
    justify-self: flex-end;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    align-self: center;
    font-size: 140%;
}


.botao_sos{
    align-self: center;
    padding: 0.8rem;
    border: 0.2rem solid black;
    border-radius:1rem;
    
}

.favs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.carros_fav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    border: 0.2rem solid black;
    border-radius: 1rem;
    margin: 0.5rem;
}

.foto_carro{
    width:25%;
    border: 0.1rem solid black;
    border-radius: 10rem;
}

/* >>>>>>>> TELA_MONTADORA <<<<<<<< */
.caixa_pesquisa{
    position: relative;
    top: 0.5rem;
}

.empresas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
    padding: 2rem;
}

.logo{
    height: 3rem;
    width: 3rem;
}

.botao_anuncio, .botao_vender, .botao_chat{
    text-align: center;
    border: .1rem solid black;
    padding: 1rem;
    border-radius: .5rem;

}

.botao_filtro_fav{
    margin-left: 1rem;
}

/* >>>>>>>> TELA_FORD <<<<<<<< */
.anuncio{
    flex-direction: row;
    margin: 1rem 0.5rem;
    border: .1rem solid black;
    padding: 1rem;
    font-size: 2rem;
    border-radius: .5rem;
}

li{
    font-size: small;
}

/* >>>>>>>> TELA_FUSION <<<<<<<< */
.info_carro,.acessorios{
    margin-left:7rem;
    margin-right:7rem;
    text-align: center;
    border: .1rem solid black;
    padding: 1rem;
    border-radius: .5rem;
}

.imagem_carro{
    margin: 1rem;
    padding: 1rem;
    align-self: center;
}

.info_carro{
    margin: 0;
}

.conjunto_chat_img{
    align-self: flex-end;
}

.botao_img_chat{
    width: 5rem;
}

.botao_img_fav{
    width: 5rem;
}

.acessorios{
    margin: 1rem;
}

.titulo_acessorio{
    align-self: center;
    justify-self: self-end;
}

/* >>>>>>>> TELA_CHAT <<<<<<<< */
.chats{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;;
    margin: 1rem 0.5rem;
    border: .1rem solid black;
    padding: 1rem;
    font-size: 2rem;
    border-radius: .5rem;

}

.foto_perfil{
    top:0;
    left:0;
    height: 3rem;
    width: 5rem;
}

.msg{
    position: relative;
    font-size: medium;
}

.user_name{
    font-weight: bold;
}


/* >>>>>>>> TELA_CHAT <<<<<<<< */
.status{
    align-self: flex-end;
}

.conversa{
    flex-direction: row;
    border: .1rem solid black;
    padding: 1rem;
    font-size: medium;
    border-radius: .5rem;
}

.eu{
    margin-left: 5rem;
}

.lahiry{
    margin-right: 5rem;
}

.typer{
    padding: 1rem;
}

.a_montadoras {
    align-self: center;
    margin: 1rem;
    border: .1rem solid black;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    background-color: rgb(31, 168, 54);
}
.a_assistencia {
    align-self: center;
    margin: 1rem;
    border: .1rem solid black;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    background-color: rgb(255, 145, 0);
}

.botoes_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 160%;
}

.a_sos {
    align-self: center;
    margin: 1rem;
    border: .1rem solid black;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    background-color: red;
}

.perfil{
    height: 8rem;
}

.fechar_menu {
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    top: 50%;
    right: 0;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.img_botoes {
    height: 8rem;
    width: 8rem;
    margin: 1rem;
    border: 0.15rem solid black;
    border-radius: 100%;
}

.lista_botoes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.duplas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.item_botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0.5rem;
}

.artigo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    padding: 1rem;
    align-items: center;
}

.img_artigo{
    width: 7rem;
    height: 7rem;
}

.div_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem ;
}

.div_h{
    border-top: 0.3rem solid black;
}
.div_v{
    border-left: 0.3rem solid black;
}

.main_chat{
    justify-content: flex-start;
}

.icone_enviar{
    width: 1.5rem;
    height: 1.5rem;
}

.footer_enviar{
    justify-self: center;
    align-self: center;
}