html {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 12rem;
}

main {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.voltar {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top:0;
    left:0;
}

input {
    position: absolute;
    height: 3rem;
    width: 15rem;
    top: 3rem;
    left: 4rem;
    text-align: center;
}

::placeholder {
    color: white;
    opacity: 0.75;
}

button {
    position: absolute;
    height: 2.5rem;
    width: 7rem;
    top: 7rem;
    left: 8rem;
}

img {
    height: 8rem;
    width: 8rem;
}

.motor {
    position: absolute; 
    top: 5rem;
    left: 2.5rem;
}

.bateria {
    position: absolute; 
    top: 5rem;
    left: 13.5rem;
}

.suspensao {
    position: absolute; 
    top: 15rem;
    left: 2.5rem;
}

.multimidia {
    position: absolute; 
    top: 15rem;
    left: 13.5rem;
}

.freio {
    position: absolute; 
    top: 25rem;
    left: 2.5rem;
}

.pneu {
    position: absolute; 
    top: 25rem;
    left: 13.5rem;
}